<style type="text/css">
</style>
<div class="slide-center loading-bg">
    <h2>Browser Usage Stats - Now</h2>
    <div id="browser_version_partially_combined-US-monthly-201212-201212-bar" width="600" height="400" style="width:600px; height: 400px;"></div>
    <p>Source: <a target="_blank" href="http://gs.statcounter.com/#browser_version_partially_combined-US-monthly-201212-201212-bar">StatCounter Global Stats - Browser Version (Partially Combined) Market Share</a></p>
    <script type="text/javascript" src="http://www.statcounter.com/js/FusionCharts.js"></script>
    <script type="text/javascript" src="http://gs.statcounter.com/chart.php?browser_version_partially_combined-US-monthly-201212-201212-bar"></script>
</div>
