<style type="text/css">
</style>
<div class="slide-center loading-bg">
    <h2>Browser Usage Stats - History</h2>
    <div id="browser-US-monthly-200807-201211" width="600" height="400" style="width:600px; height: 400px;"></div>
    <p>Source: <a target="_blank" href="http://gs.statcounter.com/#browser-US-monthly-200807-201211">StatCounter Global Stats - Browser Market Share</a></p>
    <script type="text/javascript" src="http://www.statcounter.com/js/FusionCharts.js"></script>
    <script type="text/javascript" src="http://gs.statcounter.com/chart.php?browser-US-monthly-200807-201211"></script>
</div>
