<style type="text/css">
    #slide {
        width: 700px;
    }
    #slide h1 {
        text-align: center;
    }
    #slide > ul > li {
        width: 325px;
        margin: 0 10px;
        display: inline-block;
        float: left;
        text-align: left;
    }
    #slide ul ul {
        display: block;
        float: none;
        margin-left: 2em;
        font-size: 1.2em;
    }
</style>
<div id="slide">
    <h1>The Future of the Web</h1>
    <ul>
        <li><h2>Lots of New Tools</h2>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>ECMAScript 6 (JavaScript)</li>
        </ul>
        </li>
        <li><h2>More Powerful Browsers</h2>
        <ul>
            <li>GPU Acceleration</li>
            <li>Web Sockets &amp; Multithreading</li>
        </ul>
        </li>
        <div class="clearfix"></div>
        <li><h2>Shared Data &amp; Experiences</h2>
        <ul>
            <li>Social Networks</li>
            <li>Clouded Data</li>
            <li>Web Services (Like Netflix)</li>
        </ul>
        </li>
        <li><h2>Ubiquitous Access</h2>
        <ul>
            <li>Mobile Phones</li>
            <li>Tablets</li>
            <li>Even Refrigerators...</li>
        </ul>
        </li>
    </ul>
</div>
