<style type="text/css">
    #slide {
        width: 700px;
    }
    #slide h1 {
        text-align: center;
    }
    #slide h1.very-large {
        font-size: 3em;
    }
    #slide > ul > li {
        width: 325px;
        margin: 0 10px;
        display: inline-block;
        float: left;
        text-align: left;
    }
    #slide ul ul {
        display: block;
        float: none;
        margin-left: 2em;
        font-size: 1.2em;
    }
</style>
<div id="slide">
    <h1>What makes a web site a web app?</h1>
    <ul>
        <li><h2>Interactive Elements</h2>
        <ul>
            <li>Subtle Animations</li>
            <li>Reactions to Movement or Focus</li>
            <li>Dynamic Content</li>
        </ul>
        </li>
        <li><h2>Seamless Navigation</h2>
        <ul>
            <li>Only 1 Page Load</li>
            <li>Smooth Transitions to Content</li>
            <li>Minimal Scrolling</li>
            <li>Minimal Loading &amp; Waiting</li>
        </ul>
        </li>
        <div class="clearfix"></div>
        <li><h2>Portability</h2>
        <ul>
            <li>Efficient Mobile Interfaces</li>
            <li><strong>Useful</strong> Social Network Integration</li>
        </ul>
        </li>
        <li><h2>Innovative Widgets &amp; Toys</h2>
        <ul>
            <li>Time &amp; Effort Saving Tools</li>
            <li>A Presentation App Maybe?</li>
        </ul>
        </li>
    </ul>
</div>
