<style type="text/css">
    #slide {
        width: 700px;
    }
    #slide h1 {
        text-align: center;
    }
    #slide h1.very-large {
        font-size: 3em;
    }
    #slide > ul > li {
        width: 325px;
        margin: 0 10px;
        display: inline-block;
        float: left;
        text-align: left;
    }
    #slide ul ul {
        display: block;
        float: none;
        margin-left: 2em;
        font-size: 1.2em;
    }
</style>
<div id="slide">
    <h1>Tools - HTML5</h1>
    <ul>
        <li><h2>Structured Markup</h2>
        <ul>
            <li>Easy to Understand</li>
            <li>Describes Elements More Specifically</li>
            <li>More Form Elements</li>
        </ul>
        </li>
        <li><h2>Audio &amp; Video</h2>
        <ul>
            <li>Extremely Easy to Embed</li>
            <li>Easier to Customize Look</li>
            <li>Less Loading (Open Audio Formats)</li>
        </ul>
        </li>
        <div class="clearfix"></div>
        <li><h2>New API's</h2>
        <ul>
            <li>GeoLocation</li>
            <li>Web Workers &amp; Sockets</li>
            <li>History</li>
        </ul>
        </li>
        <li><h2>Canvas</h2>
        <ul>
            <li>2D &amp; 3D Graphics</li>
            <li>GPU Acceleration</li>
            <li>Extremely Fast with ECMAScript 6</li>
        </ul>
        </li>
    </ul>
</div>
