<style type="text/css">
    #slide {
        width: 700px;
    }
    #slide h1 {
        text-align: center;
    }
    #slide h1.very-large {
        font-size: 3em;
    }
</style>
<div id="slide">
    <h1 style="very-large">One Option</h1>
    <h1>Start a collection of styles on a site like <a href="http://codepen.io/" target="_blank">CodePen.io</a> or <a href="http://cssdeck.com" target="_blank">CSSDeck.com</a> and manage it together. We could archive our creative work and also benefit from the rest of web development/design community.</h1>
</div>
