<style type="text/css">
    #slide {
        width: 800px;
    }
    #slide h1 {
        text-align: center;
    }
    #slide h1.very-large {
        font-size: 3em;
    }
    #slide > ul > li {
        width: 340px;
        margin: 0 30px;
        display: inline-block;
        float: left;
        text-align: left;
    }
    #slide ul ul {
        display: block;
        float: none;
        margin-left: 2em;
        font-size: 1.2em;
    }
</style>
<div id="slide">
    <h1>Tools - CSS3</h1>
    <ul>
        <li><h2>Borders, Shadows, &amp; Gradients</h2>
        <ul>
            <li>Render Rather than Load Images</li>
            <li>Expandable</li>
            <li>Very Portable</li>
        </ul>
        </li>
        <li><h2>Transitions</h2>
        <ul>
            <li>Subtle Animations</li>
            <li>Content Animations</li>
        </ul>
        </li>
        <div class="clearfix"></div>
        <li><h2>Transforms</h2>
        <ul>
            <li>Twist, Turn &amp; Pivot Any Element</li>
            <li>Create 3D Effects w/ Transitions</li>
            <li>Adds a new Dimension to a Page</li>
        </ul>
        </li>
        <li><h2>Animations</h2>
        <ul>
            <li>Animate Elements with Keyframes</li>
            <li>More Control over Timing</li>
            <li>Much Faster Than Flash (No Loading)</li>
        </ul>
        </li>
    </ul>
</div>
