<style type="text/css">
    #admin {
        text-align: center;
    }
    #admin .option {
        display: inline-block;
        margin: .5em;
    }
</style>
<div id="admin">
    <h3>Presentation Controls</h3>
    <a class="option button green regular raised" href="#0" data-path="#0" data-name="disable click bang" data-action="disable click bang">Disable Bang</a>
    <a class="option button green regular raised" href="#0" data-path="#0" data-name="enable click bang" data-action="enable click bang">Enable Bang</a>
    <a class="option button green regular raised" href="#0" data-path="#0" data-name="clear options" data-action="clear options">Clear Options</a>
    <a class="option button green regular raised" href="chunks/welcome.html" data-path="chunks/welcome.html" data-name="reset" data-action="reset">Reset</a>
    <a class="option button green regular raised" href="/" data-path="/" data-name="close" data-action="close presentation">Close Presentation</a>
</div>
