<p>Dear <b>{{name}}</b></p>
<p>Welcome to the Trivia With Friends Community. In order to activate your
account, please follow the link below. As soon as your account is verified and
activated you can login and start moving up the ranks of the Trivia With
Friends Leaderboards or test your knowledge solo.</p>

<p><a href="http://127.0.0.1:8000/verify-email/{{key}}/" title="Email
  Verification">Click here to verify your email</a></p>

<p>If you have received this email in error, please let us know throught <a
  href="mailto:support@triviawithfriends.coreypauley.com">support@TriviaWithFriends.coreypauley.com</a></p>
